.addlistbtn {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    border-radius: 10px;
}

.addlistfrm {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    max-width: fit-content;
    border-radius: 10px;
    margin-left: 38%;
    background-color: rgba(244, 238, 238, .2);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: solid black;
    
}

.addlistinp {
    margin-left: 3%;
}



 