.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    padding: 7px;
    max-width: fit-content;
    background-color: rgba(198, 227, 194, 0.744);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    border: solid black;
    border-width: 2px;
}